<ui:composition template="/templates/master.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="windowTitle">
		<h:outputText value="Find a Job" />
	</ui:define>

	<ui:define name="navBar">
		<ui:include src="/views/dashboard/student/search/nav-bar.xhtml">
			<ui:param name="userfullname"
				value="#{studentProfile.user.firstname} #{studentProfile.user.lastname}" />
		</ui:include>
	</ui:define>

	<ui:define name="container">
		<div align="center"
			style="font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">
			<h1
				style="color: DodgerBlue; font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">Jobs</h1>
			<h4
				style="font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">Search
				for a job</h4>
			<hr />
		</div>
		<div class="row" style="margin-left: 1px;">
			<p:panel style="background:white">
				<h:outputText value="Java/JEE, JSF Senior Developer"
					style="font-size:medium;color:green;" />
				<br />
				<h:outputText
					value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent leo turpis, ullamcorper at enim sed, feugiat euismod massa. Nulla quis massa eu sapien tincidunt feugiat. Aenean cursus mollis risus, nec commodo sapien elementum vel. Nulla augue mi, bibendum quis tristique non, sodales eu dui. Nullam et metus nisl. Nunc non consequat mauris. In a velit vel metus mollis lacinia tincidunt eu metus. Proin ut scelerisque tortor, sed rhoncus sapien. Duis at velit sed nisi viverra vulputate sit amet ac sem."
					style="font-size:14px; color:maroon" />
				<br />
					Company : 
				<h:outputText value="BULL Tunisie" style="font-size:14px" />
				<f:facet name="header">
					12 Likes - Posted 3 Days ago
				</f:facet>
				<f:facet name="footer">
					<p:commandButton value="Details"/>
					<p:commandButton value="Like"/>
					<p:commandButton value="Apply"/>
				</f:facet>
			</p:panel>
			
			<p:panel style="background:white">
				<h:outputText value="Java/JEE, JSF Senior Developer"
					style="font-size:medium;color:green;" />
				<br />
				<h:outputText
					value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent leo turpis, ullamcorper at enim sed, feugiat euismod massa. Nulla quis massa eu sapien tincidunt feugiat. Aenean cursus mollis risus, nec commodo sapien elementum vel. Nulla augue mi, bibendum quis tristique non, sodales eu dui. Nullam et metus nisl. Nunc non consequat mauris. In a velit vel metus mollis lacinia tincidunt eu metus. Proin ut scelerisque tortor, sed rhoncus sapien. Duis at velit sed nisi viverra vulputate sit amet ac sem."
					style="font-size:14px; color:maroon" />
				<br />
					Company : 
				<h:outputText value="BULL Tunisie" style="font-size:14px" />
				<f:facet name="header">
					12 Likes - Posted 3 Days ago
				</f:facet>
				<f:facet name="footer">
					<p:commandButton value="Details"/>
					<p:commandButton value="Apply"/>
					<div align="right" style="float:right;">
						<p:commandButton value="Like"/>
						<p:commandButton value="Dislike"/>
					</div>
				</f:facet>
			</p:panel>
			
			<p:panel style="background:white">
				<h:outputText value="Java/JEE, JSF Senior Developer"
					style="font-size:medium;color:green;" />
				<br />
				<h:outputText
					value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent leo turpis, ullamcorper at enim sed, feugiat euismod massa. Nulla quis massa eu sapien tincidunt feugiat. Aenean cursus mollis risus, nec commodo sapien elementum vel. Nulla augue mi, bibendum quis tristique non, sodales eu dui. Nullam et metus nisl. Nunc non consequat mauris. In a velit vel metus mollis lacinia tincidunt eu metus. Proin ut scelerisque tortor, sed rhoncus sapien. Duis at velit sed nisi viverra vulputate sit amet ac sem."
					style="font-size:14px; color:maroon" />
				<br />
					Company : 
				<h:outputText value="BULL Tunisie" style="font-size:14px" />
				<f:facet name="header">
					12 Likes - Posted 3 Days ago
				</f:facet>
				<f:facet name="footer">
					<p:commandButton value="Details"/>
					<p:commandButton value="Like"/>
					<p:commandButton value="Apply"/>
				</f:facet>
			</p:panel>
		</div>
		<!-- row -->

	</ui:define>

</ui:composition>