<ui:composition template="/templates/nav_bar.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="left-nav">
		<ul class="nav navbar-nav">
			<li><a href="#">Dashboard</a></li>
			<li><a href="#about"> <span class="badge pull-right">10</span>
					Messages
			</a></li>
			<li><a href="#contact">Events</a></li>
			<li class="active"><a href="#">Jobs</a></li>
			<!-- 			<li class="dropdown"><a href="#" class="dropdown-toggle" -->
			<!-- 				data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
			<!-- 				<ul class="dropdown-menu"> -->
			<!-- 					<li><a href="#">Action</a></li> -->
			<!-- 					<li><a href="#">Another action</a></li> -->
			<!-- 					<li><a href="#">Something else here</a></li> -->
			<!-- 					<li class="divider"></li> -->
			<!-- 					<li class="dropdown-header">Nav header</li> -->
			<!-- 					<li><a href="#">Separated link</a></li> -->
			<!-- 					<li><a href="#">One more separated link</a></li> -->
			<!-- 				</ul></li> -->
		</ul>
	</ui:define>

	<ui:define name="right-nav">
		<h:form>
			<ul class="nav navbar-nav navbar-right">
				<!-- 			<li><a href="../navbar/">Default</a></li> -->
				<!-- 			<li class="active"><a href="./">Static top</a></li> -->
				<!-- 			<li><a href="../navbar-fixed-top/">Fixed top</a></li> -->
				<li class="dropdown"><a href="#" class="dropdown-toggle"
					data-toggle="dropdown">#{userfullname} <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Settings</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><h:commandLink action="#{loginBean.disconnect()}"
								value="Disconnect" /></li>

					</ul></li>
			</ul>
		</h:form>
	</ui:define>

</ui:composition>