<ui:composition template="/templates/master.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<ui:define name="windowTitle">Add Event</ui:define>
	<ui:define name="navBar">
		<ui:include src="/views/dashboard/company/nav-bar-company.xhtml" />
	</ui:define>
	<ui:define name="container">
		<h:form id="EventForm">
			<p:growl id="growl" showDetail="true" sticky="false" life="1000" />
			<p:panel id="ePanel" header="Event" toggleable="true"
				toggleSpeed="500" widgetVar="eventPanel"
				style="margin-top:35px;padding:0px;">
				<p:dataGrid widgetVar="EventGrid" id="EventGrid" var="ev"
					value="#{eventsValidationBean.events}" columns="1"
					style="padding:0px;">
					<p:panel style="border:none;">
					    <h:outputLabel value="Date :" style="font-size:medium;"/>
						<h:outputText value="#{ev.date}" style="font-size:medium;" />
						<br />
						
						
						<h:outputLabel value="Description :" style="font-size:medium;"/>
						<h:outputText value="#{ev.description}"
								style="font-size:medium;" />
						<br />
						<h:outputLabel value="Name :" style="font-size:medium;"/>
						<h:outputText value="#{ev.name}" style="font-size:medium;" />
						<br />
						<h:outputLabel value="Validity :" style="font-size:medium;"/>
						<h:outputText value="#{ev.valid}" style="font-size:medium;" />
						<br />
						<div align="right">
							
							<p:commandButton id="b2" oncomplete="PF('dialog').show()"
								icon="ui-icon-circle-close" title="Delete" update=":form2:panel">
								<f:setPropertyActionListener value="#{ev}"
									target="#{eventsValidationBean.event}"></f:setPropertyActionListener>
							</p:commandButton>
							
						</div>
					</p:panel>
				</p:dataGrid>

				<f:facet name="footer">
					<div align="right">
						<p:commandButton value="Add new" icon="ui-icon-plus"
							process="@this" onclick="PF('addEventDialog').show()" />
					</div>
				</f:facet>
			</p:panel>
		</h:form>
		<h:form id="addEventForm">
			<p:growl id="growl" showDetail="true" sticky="false" life="1000" />
			<p:dialog widgetVar="addEventDialog" header="New event">
				<p:outputPanel id="addEventPanel">
					<p:panelGrid columns="2">
						<h:outputLabel value="Date" for="addDate" />
						<p:calendar value="#{eventsValidationBean.event.date}"
							id="addDate" />
						<h:outputLabel value="Description" for="addDesc" />
						<p:inputText value="#{eventsValidationBean.event.description}"
							id="addDesc" />
						<h:outputLabel value="Name" for="addName" />
						<p:inputText value="#{eventsValidationBean.event.name}"
							id="addName" />
						<h:outputLabel value="Validity" for="addValidity" />
						<p:inputText disabled="true" value="false" id="addValidity" />
						<div></div>
						<p:commandButton ajax="true" value="Submit" icon="ui-icon-check"
							id="addEventSubmit" update="growl,:EventForm:EventGrid"
							oncomplete="PF('addEventDialog').hide();"
							actionListener="#{eventsValidationBean.addEvent()}">
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>
			
		</h:form>
		<p:dialog header="Delete existing event" widgetVar="dialog"
			resizable="false">
			<div align="center">
				<h:form id="form2">
					<div align="center">
						<p:panelGrid columns="1" id="panel">
							<div align="center">
								<p:commandButton value="Delete"
									actionListener="#{eventsValidationBean.doDelete()}"
									oncomplete="PF('dialog').hide();" update=":EventForm">
									<p:confirm header="Confirmation" message="Are you  sure ?" />
								</p:commandButton>
							</div>
						</p:panelGrid>
					</div>
				</h:form>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>
