<ui:composition template="/templates/master.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="windowTitle">
		<h:outputText value="#{compBean.company.email}" />
	</ui:define>

	<ui:define name="navBar">
		<ui:include src="/views/dashboard/company/nav-bar-company.xhtml">
			<ui:param name="userfullname" value="#{compBean.company.name}" />
		</ui:include>
	</ui:define>
	<ui:define name="container">

		<div class="row" style="margin-left: 1px;">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title" align="center">
							<h:outputText value="#{compBean.company.name}" />
						</h3>
					</div>
					<div class="panel-body">
						<p:panel header="Details" style="border:none; margin-top:10px;">
							<p:panelGrid columns="2" style="border:0px;">
								<h:outputText value="Domain: " />
								<p:inplace id="domainInplace" editor="true">
									<h:selectOneMenu value="#{compBean.company.domain}">
										<f:selectItem itemLabel="ESPRIT" itemValue="ESPRIT" />
										<f:selectItem itemLabel="ENSI" itemValue="ENSI" />
										<f:selectItem itemLabel="ISI" itemValue="ISI" />
										<f:selectItem itemLabel="INSAT" itemValue="INSAT" />
									</h:selectOneMenu>
								</p:inplace>
								<h:outputText value="BirthDate" />
								<p:inplace id="bornInplace" editor="true">
									<p:calendar value="#{compBean.company.birthdate}"
										required="true" label="text" />
								</p:inplace>
								<h:outputText value="Email: " />
								<p:inplace id="emailInplace" editor="true">
									<p:inputText value="#{compBean.company.email}" required="true"
										label="text" />
								</p:inplace>
							</p:panelGrid>
							<p:commandButton type="button" value="Save changes"
								icon="ui-icon-check" style="display:block;margin:auto;" />
						</p:panel>

						<p:panel header="Address" style="border:none; margin-top:10px;">
							<p:panelGrid columns="2" style="border:0px;">
								<h:outputText value="City: " />
								<p:inplace id="cityInplace" editor="true">
									<p:inputText value="#{compBean.company.address.city}"
										required="true" label="text" />
								</p:inplace>
								<h:outputText value="Country: " />
								<p:inplace id="countryInplace" editor="true">
									<p:inputText value="#{compBean.company.address.country}"
										required="true" label="text" />
								</p:inplace>
								<h:outputText value="Number: " />
								<p:inplace id="numberInplace" editor="true">
									<p:inputText value="#{compBean.company.address.number}"
										required="true" label="text" />
								</p:inplace>
								<h:outputText value="Phone: " />
								<p:inplace id="phoneInplace" editor="true">
									<p:inputText value="#{compBean.company.address.phoneNumber}"
										required="true" label="text" />
								</p:inplace>
								<h:outputText value="Street: " />
								<p:inplace id="streetInplace" editor="true">
									<p:inputText value="#{compBean.company.address.street}"
										required="true" label="text" />
								</p:inplace>
								<h:outputText value="Zip code: " />
								<p:inplace id="zipCodeInplace" editor="true">
									<p:inputText value="#{compBean.company.address.zipCode}"
										required="true" label="text" />
								</p:inplace>
							</p:panelGrid>
							<p:commandButton type="button" value="Save changes"
								icon="ui-icon-check" style="display:block;margin:auto;" />
						</p:panel>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
					<!-- 					<div class="panel-heading"> -->
					<!-- 						<h3 class="panel-title" >Panel title</h3> -->
					<!-- 					</div> -->
					<div class="panel-body">
						<h3>Company Space</h3>
						<p:imageSwitch effect="fade">
							<ui:repeat value="#{compBean.images}" var="image">
								<p:graphicImage library="image" name="#{image}" alt="Image Description for #{image}" title="#{image}" width="900px" height="413px"/>
							</ui:repeat>
						</p:imageSwitch>
					</div>
				</div>
			</div>
		</div>




	</ui:define>
</ui:composition>