<ui:composition template="/templates/master.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<ui:define name="windowTitle">Add Job</ui:define>
	<ui:define name="navBar">
		<ui:include src="/views/dashboard/company/nav-bar-company.xhtml" />
	</ui:define>
	<ui:define name="container">
		<h:form id="JobForm">
			<p:growl id="growl" showDetail="true" sticky="false" life="1000" />
			<p:panel id="ePanel" header="Job" toggleable="true"
				toggleSpeed="500" widgetVar="jobPanel"
				style="margin-top:35px;padding:0px;">
				<p:dataGrid widgetVar="JobGrid" id="JobGrid" var="jo"
					value="#{jobBean.jobs}" columns="1"
					style="padding:0px;">
					<p:panel style="border:none;">
						<h:outputLabel value="Description :" style="font-size:medium;"/>
						<h:outputText value="#{jo.description}"
								style="font-size:medium;" />
						<br />
						<h:outputLabel value="Title :" style="font-size:medium;"/>
						<h:outputText value="#{jo.title}" style="font-size:medium;" />
						<br />
						<div align="right">
							
							<p:commandButton id="b2" oncomplete="PF('dialog').show()"
								icon="ui-icon-circle-close" title="Delete" update=":form2:panel">
								<f:setPropertyActionListener value="#{jo}"
									target="#{jobBean.job}"></f:setPropertyActionListener>
							</p:commandButton>
							
						</div>
					</p:panel>
				</p:dataGrid>

				<f:facet name="footer">
					<div align="right">
						<p:commandButton value="Add new" icon="ui-icon-plus"
							process="@this" onclick="PF('addJobDialog').show()" />
					</div>
				</f:facet>
			</p:panel>
		</h:form>
		<h:form id="addJobForm">
			<p:growl id="growl" showDetail="true" sticky="false" life="1000" />
			<p:dialog widgetVar="addJobDialog" header="New Job">
				<p:outputPanel id="addJobPanel">
					<p:panelGrid columns="2">
						<h:outputLabel value="Description" for="addDesc" />
						<p:inputText value="#{jobBean.job.description}"
							id="addDesc" />
						<h:outputLabel value="Title" for="addTitle" />
						<p:inputText value="#{jobBean.job.title}"
							id="addName" />
						<div></div>
						<p:commandButton ajax="true" value="Submit" icon="ui-icon-check"
							id="addJobSubmit" update="growl,:JobForm:JobGrid"
							oncomplete="PF('addJobDialog').hide();"
							actionListener="#{jobBean.addJob()}">
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>
			
		</h:form>
		<p:dialog header="Delete existing job" widgetVar="dialog"
			resizable="false">
			<div align="center">
				<h:form id="form2">
					<div align="center">
						<p:panelGrid columns="1" id="panel">
							<div align="center">
								<p:commandButton value="Delete"
									actionListener="#{jobBean.deleteJob()}"
									oncomplete="PF('dialog').hide();" update=":JobForm">
									<p:confirm header="Confirmation" message="Are you  sure ?" />
								</p:commandButton>
							</div>
						</p:panelGrid>
					</div>
				</h:form>
			</div>
		</p:dialog>
	</ui:define>
</ui:composition>
