<ui:composition template="/templates/master.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="windowTitle">
	  Messages
	</ui:define>

	<ui:define name="navBar">
		<ui:include src="/views/dashboard/company/nav-bar-company.xhtml" />
	</ui:define>

	<ui:define name="container">
		<div>
			<h3>Message from Team</h3>
			<p:panel header="It Recruitment Link"
				footer="&#169; All right reserved to ESPRIT">
				<h:outputText value="Welcome to It Recruitment Link you are now in the vastest professional network in tunisia
				 we hope you enjoys being with as  " />

			</p:panel>
		</div>
	</ui:define>
</ui:composition>
