<ui:composition template="/templates/master.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<ui:define name="windowTitle">Suggested Profile</ui:define>
	<ui:define name="navBar">
		<ui:include src="/views/dashboard/company/nav-bar-company.xhtml" />
	</ui:define>
	<ui:define name="container">
		<p:dataTable id="tbl" var="suggestedProfile" value="#{tableBean.user}"
			paginator="true" rows="10">
			<p:column>
				<f:facet name="header">
					<h:outputText value="Name" />
				</f:facet>
				<h:outputText value="#{studentProfile.user.firstname} #{studentProfile.user.lastname}"   />
			</p:column>

			<p:column exportable="false">
				<f:facet name="header">
					<h:outputText value="Email" />
				</f:facet>
				<h:outputText value="#{studentProfile.user.email}" />
			</p:column>

			<p:column>
				<f:facet name="header">
					<h:outputText value="BirthDate" />
				</f:facet>
				<h:outputText value="#{studentProfile.user.birthdate}" />
			</p:column>

			<p:column exportable="false">
				<f:facet name="header">
					<h:outputText value="Adress" />
				</f:facet>
				<h:outputText value="#{studentProfile.user.address}" />
			</p:column>
			
			<p:column>
				<f:facet name="header">
					<h:outputText value="CV" />
				</f:facet>
				<h:outputText value="#{studentProfile.user.CV}" />
			</p:column>
		</p:dataTable>

		
	</ui:define>
</ui:composition>
