<ui:composition template="/templates/master.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="windowTitle">Company registration</ui:define>

	<ui:define name="navBar">
		<h:form>
			<ui:include src="/views/register/nav-bar.xhtml" />
		</h:form>
	</ui:define>

	<ui:define name="container">
		<h:form>
			<p:messages showSummary="true" />
			<p:fieldset legend="Personal informations">
				<h:panelGrid columns="2" cellpadding="10">
					<p:outputLabel value="First name : " for="firstname"></p:outputLabel>
					<p:inputText id="firstname" required="true"
						value="#{companyRegistration.company.firstname}"></p:inputText>

					<p:outputLabel value="Last name : " for="lastname"></p:outputLabel>
					<p:inputText id="lastname" required="true"
						value="#{companyRegistration.company.lastname}"></p:inputText>

					<p:outputLabel value="Email address : " for="email"></p:outputLabel>
					<p:inputText id="email" required="true"
						value="#{companyRegistration.company.email}"></p:inputText>
						
						<p:outputLabel value="Password " for="password" />
					<p:password value="#{studentRegistration.password}" size="25"
						id="password" required="true" />
					<p:outputLabel value="Password Confirmation"
						for="passwordConfirmation" />
					<p:password value="#{studentRegistration.passwordConfirmation}"
						id="passwordConfirmation" size="25" required="true">
						<p:ajax event="keyup"
							listener="#{studentRegistration.validatePasswordsMatch}" />
					</p:password>

					<p:outputLabel value="Birthday : " for="birthday"></p:outputLabel>
					<p:calendar id="birthday" 
						value="#{companyRegistration.company.birthdate}" showOn="button" />
				</h:panelGrid>
			</p:fieldset>

			<p:fieldset legend="Company">
				<h:panelGrid columns="2" cellpadding="10">
					<p:outputLabel value="Name : " for="name"></p:outputLabel>
					<p:inputText id="name" required="true"
						value="#{companyRegistration.company.name}"></p:inputText>

					<p:outputLabel value="Domain : " for="domain"></p:outputLabel>
					<p:inputText id="domain"
						value="#{companyRegistration.company.domain}"></p:inputText>
				</h:panelGrid>
			</p:fieldset>

			<p:fieldset legend="Contact">
				<h:panelGrid columns="2" cellpadding="10">
					<p:outputLabel value="Number : " for="nb"></p:outputLabel>
					<p:inputMask id="nb" required="true"
						value="#{companyRegistration.address.number}"
						 mask="999">
					</p:inputMask>

					<p:outputLabel value="Street : " for="street"></p:outputLabel>
					<p:inputText id="street" required="true"
						value="#{companyRegistration.address.street}"></p:inputText>

					<p:outputLabel value="City : " for="city"></p:outputLabel>
					<p:selectOneListbox id="city" required="true"
						value="#{companyRegistration.address.city}">
						<f:selectItem itemLabel="Tunis" itemValue="Tunis" />
						<f:selectItem itemLabel="Ariana" itemValue="Ariana" />
						<f:selectItem itemLabel="Sousse" itemValue="Sousse" />
						<f:selectItem itemLabel="Monastir" itemValue="Monastir" />
						<f:selectItem itemLabel="Gabes" itemValue="Gabes" />
						<f:selectItem itemLabel="Sfax" itemValue="Sfax" />
						<f:selectItem itemLabel="Bizerte" itemValue="Bizerte" />
					</p:selectOneListbox>

					<p:outputLabel value="Phone number : " for="phone"></p:outputLabel>
					<p:inputMask id="phone" 
						value="#{companyRegistration.address.zipCode}"
						mask="99-999-999">
					</p:inputMask>

					<p:outputLabel value="Country : " for="country"></p:outputLabel>
					<p:inputText id="country" disabled="true" value="Tunisia"></p:inputText>
				</h:panelGrid>

			</p:fieldset>
			<p:captcha label="Captcha" language="tr" theme="white"
				required="true" />

			<h:commandButton value="Register" type="submit" ajax="false"
				action="#{companyRegistration.register}"></h:commandButton>
			<h:commandButton value="Reset" type="reset"></h:commandButton>
		</h:form>
	</ui:define>
</ui:composition>