<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fb="http://ogp.me/ns/fb#">

<h:head>
	<h:outputScript>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '409910742439894', // App ID
      channelUrl : 'http://hayageek.com/examples/oauth/facebook/oauth-javascript/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    
    
	FB.Event.subscribe('auth.authResponseChange', function(response) 
	{
 	 if (response.status === 'connected') 
  	{
  		document.getElementById("message").innerHTML +=  "Connected to Facebook";
  		//SUCCESS
  		
  	}	 
	else if (response.status === 'not_authorized') 
    {
    	document.getElementById("message").innerHTML +=  "Failed to Connect";

		//FAILED
    } else 
    {
    	document.getElementById("message").innerHTML +=  "Logged Out";

    	//UNKNOWN ERROR
    }
	});	
	
    };
    
   	function Login()
	{
	
		FB.login(function(response) {
		   if (response.authResponse) 
		   {
		    	getUserInfo();
  			} else 
  			{
  	    	 console.log('User cancelled login or did not fully authorize.');
   			}
		 },{scope: 'email,user_photos,user_videos'});
	
	
	}

  function getUserInfo() {
	    FB.api('/me', function(response) {
  alert('Your name is ' + response.name);
});
    }
	
	function Logout()
	{
		FB.logout(function(){document.location.reload();});
	}

  // Load the SDK asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</h:outputScript>
</h:head>
<h:body>
	<div id="fb-root"></div>

	<div align="center">
		<h2>Facebook OAuth Javascript Demo</h2>

		<div id="status">
			Click on Below Image to start the demo: <br /> <img
				src="http://hayageek.com/examples/oauth/facebook/oauth-javascript/LoginWithFacebook.png"
				style="cursor: pointer;" onclick="javascript:Login()" />
		</div>
		<br /> <br /> <br /> <br /> <br />
		<div id="message">
			Logs:<br />
		</div>
		<fb:like send="true" width="450" show_faces="true"></fb:like>
	</div>
</h:body>
</html>