<ui:composition template="/templates/nav_bar.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="left-nav">
		<ul class="nav navbar-nav">
			<li><h:commandLink action="/views/login/index.xhtml?faces-redirect=true" value="Home" /></li>
			<li class="active"><a href="#">Company registration</a></li>
		</ul>
	</ui:define>
	<ui:define name="right-nav"></ui:define>
</ui:composition>