<ui:composition template="/templates/master.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:fb="http://ogp.me/ns/fb#">


	<ui:define name="windowTitle">
   Student registration
   </ui:define>
	<ui:define name="additional-scripts">
		<!-- 		<h:outputScript library="js" name="fb.js" /> -->
		<!-- 		<h:outputScript library="js" name="fb-registration.js" /> -->
		<h:outputScript>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '409910742439894', // App ID
		      channelUrl : 'http://hayageek.com/examples/oauth/facebook/oauth-javascript/channel.html', // Channel File
		      status     : true, // check login status
		      cookie     : true, // enable cookies to allow the server to access the session
		      xfbml      : true  // parse XFBML
		    });
		    
		    
			FB.Event.subscribe('auth.authResponseChange', function(response) 
			{
		 	 if (response.status === 'connected') 
		  	{
		  		document.getElementById("message").innerHTML +=  "Connected to Facebook";
		  		//SUCCESS
		  		
		  	}	 
			else if (response.status === 'not_authorized') 
		    {
		    	document.getElementById("message").innerHTML +=  "Failed to Connect";
		
				//FAILED
		    } else 
		    {
		    	document.getElementById("message").innerHTML +=  "Logged Out";
		
		    	//UNKNOWN ERROR
		    }
			});	
			
		    };
		    
		   	function Login()
			{
			
				FB.login(function(response) {
				   if (response.authResponse) 
				   {
				    	getUserInfo();
		  			} else 
		  			{
		  	    	 console.log('User cancelled login or did not fully authorize.');
		   			}
				 },{scope: 'email,user_photos,user_videos'});
			
			
			}
		
		  function getUserInfo() {
			    FB.api('/me', function(response) {
		  		alert('Your name is ' + response.name);
		  		document.getElementById('reg-form:firstname').value = response.first_name;
		  		document.getElementById('reg-form:lastname').value = response.last_name;
		  		document.getElementById('reg-form:birthdate_input').value = response.birthday;
		  		document.getElementById('reg-form:university').value = response.education[0].school.name;
		});
		    }
			
			function Logout()
			{
				FB.logout(function(){document.location.reload();});
			}
		
		  // Load the SDK asynchronously
		  (function(d){
		     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "//connect.facebook.net/en_US/all.js";
		     ref.parentNode.insertBefore(js, ref);
		   }(document));
		</h:outputScript>
	</ui:define>
	<ui:define name="fb-root">
		<div id="fb-root"></div>
	</ui:define>
	<ui:define name="navBar">
		<h:form>
			<ui:include src="/views/register/nav-barS.xhtml" />
		</h:form>
	</ui:define>
	<ui:define name="container">
		<div id="message"></div>
		<center>
			<h3
				style="font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">You
				can fill in the form using your facebook profile</h3>
				<img
					src="/tn.esprit.gl1.p3.pl/javax.faces.resource/fb_logo.gif.jsf?ln=image"
					width="100" height="100" style="cursor: pointer;" onclick="javascript:Login()"/>
		</center>
		<!-- 		<h3 -->
		<!-- 			style="font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">Or -->
		<!-- 			fill it manually to register :</h3> -->
		<hr />
		<h6
			style="font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif; color: red;">*
			: required fields</h6>
		<h:form id="reg-form">
			<p:messages />
			<p:panel header="Personal informations"
				style="width:75%;margin:auto;margin-bottom:20px;">
				<h:panelGrid id="grid" columns="3" cellpadding="10"
					style="margin:auto;">
					<p:outputLabel for="firstname" value="Firstname:" />
					<p:inputText id="firstname" required="true" size="25"
						value="#{studentRegistration.student.firstname}" />
					<p:message for="firstname" display="icon" />

					<p:outputLabel for="lastname" value="Lastname:" />
					<p:inputText id="lastname" required="true" size="25"
						value="#{studentRegistration.student.lastname}"></p:inputText>
					<p:message for="lastname" display="icon" />

					<p:outputLabel for="title" value="Title:" />
					<p:inputText id="title" required="true" size="25"
						value="#{studentRegistration.student.title}"></p:inputText>
					<p:message for="title" display="icon" />

					<p:outputLabel for="university" value="University:" />
					<p:inputText id="university" size="25"
						value="#{studentRegistration.student.university}"></p:inputText>
					<p:message for="university" display="icon" />

					<p:outputLabel for="birthdate" value="Birthdate:" />
					<p:calendar id="birthdate" required="true" size="25"
						navigator="true" value="#{studentRegistration.student.birthdate}"
						 />
					<p:message for="birthdate" display="icon" />
				</h:panelGrid>
			</p:panel>
			<p:panel header="Contact"
				style="width:75%;margin:auto;margin-bottom:20px;">
				<h:panelGrid columns="2" cellpadding="10" style="margin:auto;">
					<p:outputLabel for="Number" value="Number:" />
					<p:inputMask mask="999" id="Number"
						value="#{studentRegistration.address.number}" size="25" />
					<p:outputLabel for="street" value="Street:" />
					<p:inputText id="street" size="25"
						value="#{studentRegistration.address.street}" />
					<p:outputLabel for="city" value="City:" />
					<p:inputText id="city" size="25"
						value="#{studentRegistration.address.city}"></p:inputText>
					<p:outputLabel for="phoneNumber" value="PhoneNumber:" />
					<p:inputMask mask="(99) 999-999" size="25" id="phoneNumber"
						value="#{studentRegistration.address.phoneNumber}">
					</p:inputMask>
				</h:panelGrid>
			</p:panel>
			<p:panel header="Account configurations"
				style="width:75%;margin:auto;margin-bottom:20px;">
				<h:panelGrid columns="2" cellpadding="10" style="margin:auto;">
					<p:outputLabel for="email" value="Email:" />
					<p:inputText id="email" size="25" required="true"
						value="#{studentRegistration.student.email}"></p:inputText>
					<p:outputLabel value="Password " for="password" />
					<p:password value="#{studentRegistration.password}" size="25"
						id="password" required="true" />
					<p:outputLabel value="Password Confirmation"
						for="passwordConfirmation" />
					<p:password value="#{studentRegistration.passwordConfirmation}"
						id="passwordConfirmation" size="25" required="true">
						<p:ajax event="keyup"
							listener="#{studentRegistration.validatePasswordsMatch}" />
					</p:password>
				</h:panelGrid>
			</p:panel>
			<p:panel style="margin:auto;width:90%;text-align:center;">
				<center>
					<p:captcha label="Captcha" language="tr" theme="white"
						required="true" style="margin:auto;" />
				</center>
				<h:commandButton value="Register" type="submit" ajax="false"
					styleClass="btn btn-lg btn-success"
					action="#{studentRegistration.Register()}"
					style="margin-right:10px;" />

				<h:commandButton value="Reset" type="reset"
					styleClass="btn btn-lg btn-info"></h:commandButton>
			</p:panel>
		</h:form>
		<fb:like send="true" width="450" show_faces="true"></fb:like>
	</ui:define>
</ui:composition>