<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div class="container">
		<p>
			<h:outputText
				value="&#169; Copyright ESPRIT 2013 It Recruitment Link " />
			<!-- 		<p class="text-muted">Click <p:commandLink action="/views/admin/adminspace.jsf">here</p:commandLink> to access the administration space</p> -->
		</p>
	</div>


</ui:composition>
