<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
		<div align="center">
			<p:commandButton value="Oui" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value="Non" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</div>
	</p:confirmDialog>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>
	<title>IT Recruitment Link - <ui:insert name="windowTitle"></ui:insert></title>
	<!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png" /> -->
	<!-- Bootstrap core CSS -->
	<h:outputStylesheet library="css" name="bootstrap.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="navbar-static-top.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="sticky-footer.css"></h:outputStylesheet>
	<style>
		.ui-panelgrid tr,.ui-panelgrid td {
			border: none;
		}
		
		.ui-datagrid-content {
			border: none;
			padding: 0px;
		}
		.ui-growl {
		    position:absolute;
		    top:10%;
		    z-index:9999;
		}
</style>
	<!-- 	<script src="https://code.jquery.com/jquery.js"></script> -->
	<h:outputScript library="primefaces" name="jquery/jquery.js" />
	<h:outputScript library="js" name="bootstrap.js"></h:outputScript>
	<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <ui:insert name="additional-scripts"/>
</h:head>

<h:body>
	<ui:insert name="fb-root"></ui:insert>
	<ui:insert name="navBar" />

	<div id="wrap">
		<div class="container"  style="padding-top:40px;">
			<ui:insert name="container" />
		</div>
	</div>


	<div id="footer" align="center">
		<ui:include src="/templates/footer.xhtml" />
	</div>
	<!-- 	<footer> -->
	<!-- 		<ui:include src="/templates/footer.xhtml" /> -->
	<!-- 	</footer> -->

</h:body>
</html>
