<!DOCTYPE html>
<ui:composition lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<div class="navbar navbar-inverse navbar-static-top navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">IT Recruitment Link</a>
			</div>
			<div class="navbar-collapse collapse">
				<ui:insert name="left-nav"></ui:insert>
				<!-- 				<ul class="nav navbar-nav"> -->
				<!-- 					<li class="active"><a href="#">Home</a></li> -->
				<!-- 					<li><a href="#about">About</a></li> -->
				<!-- 					<li><a href="#contact">Contact</a></li> -->
				<!-- 					<li class="dropdown"><a href="#" class="dropdown-toggle" -->
				<!-- 						data-toggle="dropdown">Dropdown <b class="caret"></b></a> -->
				<!-- 						<ul class="dropdown-menu"> -->
				<!-- 							<li><a href="#">Action</a></li> -->
				<!-- 							<li><a href="#">Another action</a></li> -->
				<!-- 							<li><a href="#">Something else here</a></li> -->
				<!-- 							<li class="divider"></li> -->
				<!-- 							<li class="dropdown-header">Nav header</li> -->
				<!-- 							<li><a href="#">Separated link</a></li> -->
				<!-- 							<li><a href="#">One more separated link</a></li> -->
				<!-- 						</ul></li> -->
				<!-- 				</ul> -->
				<ui:insert name="right-nav"></ui:insert>
				<!-- 				<ul class="nav navbar-nav navbar-right"> -->
				<!-- 					<li><a href="../navbar/">Default</a></li> -->
				<!-- 					<li class="active"><a href="./">Static top</a></li> -->
				<!-- 					<li><a href="../navbar-fixed-top/">Fixed top</a></li> -->
				<!-- 				</ul> -->
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</ui:composition>