<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/master.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="windowTitle">Admin space</ui:define>
	<ui:define name="navBar">
		<h:form>
			<ui:include src="/views/admin/navbar.xhtml" />
		</h:form>
	</ui:define>
	<ui:define name="container">
		<h:form id="form">
			<h2 align="center" style="font-family: cursive;">Manage User</h2>
			<p:tabView effectDuration="normal">
				<p:tab title="Profiles">
					<p:dataTable value="#{manageUsersBean.profiles}" var="user"
						border="1" paginator="true" rows="10" widgetVar="ficheTable"
						rendered="#{not empty manageUsersBean.profiles}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15">
						<f:facet name="header">
							<p:outputPanel>
								<h:outputText value="Rechercher:" />
								<p:inputText id="globalFilter" onkeyup="ficheTable.filter()"
									style="width:150px" />
							</p:outputPanel>

						</f:facet>
						<p:column filterBy="#{user.firstname}" filterMatchMode="contains">
							<f:facet name="header">
								<h:outputText value="First Name" />
							</f:facet>
							<h:outputText value="#{user.firstname}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="last Name" />
							</f:facet>
							<h:outputText value="#{user.lastname}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="login" />
							</f:facet>
							<h:outputText value="#{user.login}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Pwd" />
							</f:facet>
							<h:outputText value="#{user.password}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Email" />
							</f:facet>
							<h:outputText value="#{user.email}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Birthdate" />
							</f:facet>
							<h:outputText value="#{user.birthdate}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Title" />
							</f:facet>
							<h:outputText value="#{user.title}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="Enabled" />
							</f:facet>
							<h:outputText value="#{user.enabled}" />
						</p:column>


						<p:column>
							<!-- 						<p:commandButton ajax="false" -->
							<!-- 							actionListener="#{manageUsersBean.doDelete()}" title="delete" -->
							<!-- 							icon="ui-icon-circle-close" update="@form,:form"> -->
							<!-- 							<p:confirm header="Confirmation" message="Etes-vous sûr?" -->
							<!-- 								icon="ui-icon-alert" /> -->
							<!-- 						</p:commandButton> -->
							<p:commandButton id="b" oncomplete="PF('dialog').show()"
								icon="ui-icon-circle-close" title="Delete" update=":form2:panel">
								<f:setPropertyActionListener value="#{user}"
									target="#{manageUsersBean.profile}"></f:setPropertyActionListener>
							</p:commandButton>
						</p:column>

						<p:column>
							<p:commandButton id="selectButton"
								oncomplete="PF('profileUpdate').show()" title="Update"
								icon="ui-icon-pencil" update=":nono:panel2">
								<f:setPropertyActionListener value="#{user}"
									target="#{manageUsersBean.profile}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>
				</p:tab>

				<p:tab title="Events">
					<p:dataTable value="#{eventsValidationBean.events}" var="event"
						border="1" paginator="true" rows="10" widgetVar="ficheTable2"
						rendered="#{not empty eventsValidationBean.events}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15">

						<f:facet name="header2">
							<p:outputPanel>
								<h:outputText value="Rechercher:" />
								<p:inputText id="globalFilter" onkeyup="ficheTable2.filter()"
									style="width:150px" />
							</p:outputPanel>

						</f:facet>

						<p:column filterBy="#{event.name}" filterMatchMode="contains">
							<f:facet name="header2">
								<h:outputText value="Event Name" />
							</f:facet>
							<h:outputText value="#{event.name}" />
						</p:column>
						<p:column>
							<f:facet name="header2">
								<h:outputText value="Date" />
							</f:facet>
							<h:outputText value="#{event.date}" />
						</p:column>
						<p:column>
							<f:facet name="header2">
								<h:outputText value="Description" />
							</f:facet>
							<h:outputText value="#{event.description}" />
						</p:column>
						<p:column>
							<f:facet name="header2">
								<h:outputText value="Validity" />
							</f:facet>
							<h:outputText value="#{event.valid}" />
						</p:column>

						<p:column>
							<p:commandButton id="selectButton"
								oncomplete="PF('eventUpdate').show()" title="Validate"
								icon="ui-icon-check" update=":momo:panel3">
								<f:setPropertyActionListener value="#{event}"
									target="#{eventsValidationBean.event}" />
							</p:commandButton>
						</p:column>

						<p:column>
							<p:commandButton id="b2" oncomplete="PF('eventDelete').show()"
								icon="ui-icon-circle-close" title="Delete" update=":form3:panel4">
								<f:setPropertyActionListener value="#{event}"
									target="#{eventsValidationBean.event}"></f:setPropertyActionListener>
							</p:commandButton>
						</p:column>

					</p:dataTable>
				</p:tab>

			</p:tabView>
		</h:form>
		<p:dialog header="Delete existing profile" widgetVar="dialog"
			resizable="false">
			<div align="center">
				<h:form id="form2">
					<div align="center">
						<p:panelGrid columns="1" id="panel">
							<div align="center">
								<p:commandButton value="Delete"
									actionListener="#{manageUsersBean.doDelete()}"
									oncomplete="PF('dialog').hide();" update=":form">
									<p:confirm header="Confirmation" message="Are you  sure ?" />
								</p:commandButton>
							</div>
						</p:panelGrid>
					</div>
				</h:form>
			</div>
		</p:dialog>

		<p:dialog header="Update existing profile" widgetVar="profileUpdate"
			resizable="false" modal="true">
			<h:form id="nono">
				<p:panelGrid columns="4" id="panel2">

					<p:outputLabel value="First Name" for="z1" />
					<p:inputText value="#{manageUsersBean.profile.firstname}" id="z1"
						required="true" requiredMessage="First Name should not be empty !"
						label="First Name"></p:inputText>
					<p:message for="z1" />
					<h:outputText value="" />


					<p:outputLabel value="Last Name"></p:outputLabel>
					<p:inputText value="#{manageUsersBean.profile.lastname}" id="z2"
						required="true" requiredMessage="last Name should not be empty !"></p:inputText>
					<p:message for="z2" />
					<h:outputText value="" />

					<p:outputLabel value="Login"></p:outputLabel>
					<p:inputText value="#{manageUsersBean.profile.login}" id="z3"
						required="true" requiredMessage="Login  should not be empty !">
					</p:inputText>
					<p:message for="z3" />
					<h:outputText value="" />

					<p:outputLabel value="Password"></p:outputLabel>
					<p:password value="#{manageUsersBean.profile.password}" id="z4"
						required="true" requiredMessage="Password should not be empty !"></p:password>
					<p:message for="z4" />
					<h:outputText value="" />

					<p:outputLabel value="Email"></p:outputLabel>
					<p:inputText value="#{manageUsersBean.profile.email}" id="z5"
						required="true" requiredMessage="Email should not be empty !"></p:inputText>
					<p:message for="z5" />
					<h:outputText value="" />

					<p:outputLabel value="birthday"></p:outputLabel>
					<p:calendar value="#{manageUsersBean.profile.birthdate}" id="z6"
						required="true" requiredMessage="Email should not be empty !"></p:calendar>
					<p:message for="z6" />
					<h:outputText value="" />

					<p:outputLabel value="Title"></p:outputLabel>
					<p:inputText value="#{manageUsersBean.profile.title}" id="z7"
						required="true" requiredMessage="Email should not be empty !"></p:inputText>
					<p:message for="z7" />
					<h:outputText value="" />

					<p:outputLabel value="Enabled"></p:outputLabel>
					<p:inputText value="#{manageUsersBean.profile.enabled}" id="z8"
						required="true" requiredMessage="Email should not be empty !"></p:inputText>
					<p:message for="z8" />
					<h:outputText value="" />

					<p></p>
					<p:commandButton value="Update Profile"
						actionListener="#{manageUsersBean.doUpdate()}"
						update=":form,panel2"
						oncomplete="if(!args.validationFailed) { PF('profileUpdate').hide();}"
						icon="ui-icon-check" validateClient="true">
						<p:confirm header="Confirmation" message="Are you  sure ?" />
					</p:commandButton>
					<p></p>
					<p></p>
				</p:panelGrid>

			</h:form>
		</p:dialog>
		<p:dialog header="Update event" widgetVar="eventUpdate"
			resizable="false" modal="true">
			<h:form id="momo">
				<p:panelGrid columns="4" id="panel3">

					<p:outputLabel value="Name" for="z1" />
					<p:inputText value="#{eventsValidationBean.event.name}" id="z1"
						required="true" requiredMessage="Name should not be empty !"
						label="Name"></p:inputText>
					<p:message for="z1" />
					<h:outputText value="" />


					<p:outputLabel value="Date"></p:outputLabel>
					<p:calendar value="#{eventsValidationBean.event.date}" id="z2"
						required="true" requiredMessage="Date should not be empty !"></p:calendar>
					<p:message for="z2" />
					<h:outputText value="" />

					<p:outputLabel value="Description"></p:outputLabel>
					<p:inputText value="#{eventsValidationBean.event.description}"
						id="z3" required="true"
						requiredMessage="Description should not be empty !"></p:inputText>
					<p:message for="z3" />
					<h:outputText value="" />

					<p:outputLabel value="Validity"></p:outputLabel>
					<p:inputText value="#{eventsValidationBean.event.valid}" id="z4"
						required="true" requiredMessage="Validity should not be empty !"></p:inputText>
					<p:message for="z4" />
					<h:outputText value="" />


					<p></p>
					<p:commandButton value="Update Event"
						actionListener="#{eventsValidationBean.doUpdate()}"
						update=":form,panel3"
						oncomplete="if(!args.validationFailed) { PF('eventUpdate').hide();}"
						icon="ui-icon-check" validateClient="true">
						<p:confirm header="Confirmation" message="Are you  sure ?" />
					</p:commandButton>
					<p></p>
					<p></p>
				</p:panelGrid>

			</h:form>
		</p:dialog>

		<p:dialog header="Delete existing event" widgetVar="eventDelete"
			resizable="false">
			<div align="center">
				<h:form id="form3">
					<div align="center">
						<p:panelGrid columns="1" id="panel4">
							<div align="center">
								<p:commandButton value="Delete"
									actionListener="#{eventsValidationBean.doDelete()}"
									oncomplete="PF('eventDelete').hide();" update=":form">
									<p:confirm header="Confirmation" message="Are you  sure ?" />
								</p:commandButton>
							</div>
						</p:panelGrid>
					</div>
				</h:form>
			</div>
		</p:dialog>

	</ui:define>

</ui:composition>
