<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/nav_bar.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="left-nav">
		<ul class="nav navbar-nav">
			<li><h:commandLink action="/views/login/index.xhtml"
					value="Home" /></li>
			<li class="active"><a href="#">Administrator space</a></li>
		</ul>
	</ui:define>
	<ui:define name="right-nav">
		<ul class="nav navbar-nav navbar-right">
		
		<li>
			<h:commandLink value="Disconnect"
					action="#{loginBean.disconnect()}"/>
					</li>
		</ul>
	</ui:define>
</ui:composition>
