<ui:composition template="/templates/master.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="windowTitle">
	  About Us
	</ui:define>

	<ui:define name="navBar">
		<ui:include src="/views/login/nav_bar.xhtml"/>
	</ui:define>

	<ui:define name="container">
		<div>
			<h3>About Us</h3>
			<p:panel header="It Recruitment Link"
				footer="&#169; All right reserved to ESPRIT">
				<h:outputText value="IT Recruitment Link is a start up compagny composed by a youth team of engeneering students. 
        We present to you this interface as a solution for recruitement issues and to make life easier .In
        this interface you will find a multitude of compagnies and job opportunities that will change your life forever
        Also you give you the possibility to create an interactive CV and share your informations onLine and receive notification for job offers
        or interviews " />

			</p:panel>
		</div>
	</ui:define>
</ui:composition>
