<ui:composition template="/templates/master.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="windowTitle">
	  Contact
	</ui:define>

	<ui:define name="navBar">
		<ui:include src="/views/login/nav_bar.xhtml" />
	</ui:define>

	<ui:define name="container">
		<div>
			<h3>Contact Us</h3>
			<p:panel header="It Recruitment Link"
				footer="c All right reserved to ESPRIT">
				<h:outputText
					value="you can contact team by phone on numbers (22 740 136 /20 226 696 /53 334 195 / 26 183 449)
					or by Email on ITRecruitment@gmail.com" />
<p></p><br/>
				<h:form id="form">

					<p:editor id="editor" value="#{editorBean.value}" width="600" />

					<h:panelGrid columns="2" style="margin-top:10px">
						<p:commandButton id="submitButton" value="Submit" update="display"
							oncomplete="PF('dlg').show()" icon="ui-icon-disk" />
					</h:panelGrid>

					<p:dialog header="Content" widgetVar="dlg" showEffect="fade"
						hideEffect="fade" modal="true">
						<h:outputText id="display" value="#{editorBean.value}"
							escape="false" />
					</p:dialog>

				</h:form>
			</p:panel>
		</div>
	</ui:define>
</ui:composition>