<ui:composition template="/templates/master.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="windowTitle">
		Login Page
	</ui:define>

	<ui:define name="navBar">
		<ui:include src="/views/login/nav_bar.xhtml" />
	</ui:define>

	<ui:define name="container">
		<!-- 		<p:messages id="msg" for="auth-form" autoUpdate="true" showDetail="true" showSummary="true" closable="true"/> -->
		<h:form>
			<div class="container">
				<p:galleria value="#{galleria.images}" var="image"
					panelWidth="1150" panelHeight="413" showCaption="true">
					
					<p:graphicImage name="/image/#{image}"
						alt="Image Description for #{image}" title="#{image}" width="1150px" height="413px"/>
					<bgsound src="audio/music.mp3" />
				</p:galleria>
			</div>
			<div align="center">
				<h:commandLink styleClass="btn btn-lg btn-info"
					value="Register as a student"
					action="/views/register/student.xhtml?faces-redirect=true"></h:commandLink>
				<h:commandLink styleClass="btn btn-lg btn-success"
					value="Register as a company"
					action="/views/register/company.xhtml?faces-redirect=true"></h:commandLink>
			</div>
			<div>
			<h3>Job Interview Skills</h3>  
<p:media value="/resources/media/video.mp4" width="350" height="300" >  
    <f:param name="autoPlay" value="false"/>  
</p:media>   


			</div>
		</h:form>
	</ui:define>
</ui:composition>
