<ui:composition template="/templates/nav_bar.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="left-nav">
		<h:form>
			<ul class="nav navbar-nav">
				<li><h:commandLink action="/views/login/about?faces-redirect=true"
						value="About" /></li>
				<li><h:commandLink action="/views/login/contact?faces-redirect=true"
						value="Contact" /></li>
			</ul>
		</h:form>
	</ui:define>

	<ui:define name="right-nav">
		<h:form styleClass="navbar-form navbar-right" role="form"
			id="auth-form">
			<p:growl id="growl" showDetail="true" sticky="false" />
			<div class="form-group">
				<!-- 				<input class="form-control" type="text" placeholder="Email"></input> -->
				<p:inputText id="email" placeholder="Email"
					styleClass="form-control" value="#{loginBean.email}"
					validatorMessage="Email is required">
					<f:validateRequired />
				</p:inputText>
				<!-- 				<p:message for="email"></p:message> -->
			</div>
			<div class="form-group">
				<!-- 				<input class="form-control" type="password" placeholder="Password"></input> -->
				<p:password id="password" placeholder="Password"
					styleClass="form-control" value="#{loginBean.password}"
					validatorMessage="Password is required">
					<f:validateRequired />
				</p:password>
				<!-- 				<p:message for="password"></p:message> -->
			</div>
			<!-- 			<button class="btn btn-success" type="submit">Sign in</button> -->
			<p:commandButton value="Sign in" styleClass="btn btn-success"
				action="#{loginBean.authenticate}" ajax="false"
				update="growl" style="height:35px"/>
		</h:form>
	</ui:define>

</ui:composition>