<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="degreesForm">
		<p:growl id="growl" showDetail="true" sticky="false" life="2000" />
		<p:panel id="educPanel" header="Education" toggleable="true"
			toggleSpeed="500" widgetVar="educationPanel"
			style="margin-top:35px;padding:0px;font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">
			<p:dataGrid widgetVar="degreesGrid" id="degreesGrid" var="deg"
				value="#{studentProfile.degrees}" columns="1" style="padding:0px;">
				<p:panel
					style="border:none;font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">
					<h:outputText value="#{deg.obtentionYear}"
						style="font-size:medium;color:green;" />
					<br />
					<h:outputText value="#{deg.title}"
						style="font-size:20px; color:maroon" />
					<br />
					University : 
					<h:outputText value="#{deg.university}" style="font-size:14px" />
					<br />
					<div align="right">
						<p:commandButton value="Edit" process="@this"
							update=":educationForm:editDegreePanel"
							oncomplete="PF('editDegreeDialog').show()">
							<f:setPropertyActionListener value="#{deg}"
								target="#{studentProfile.selectedDegree}" />
						</p:commandButton>
						<p:commandButton value="Delete" process="@this"
							update=":degreesForm:growl,:degreesForm:degreesGrid"
							action="#{studentProfile.deleteSelectedDegree}">
							<f:setPropertyActionListener value="#{deg}"
								target="#{studentProfile.selectedDegree}" />
							<p:confirm header="Confirmation" message="Are you sure?"
								icon="ui-icon-alert" />
						</p:commandButton>
						<!-- 											<h:commandButton value="Delete" styleClass="btn btn-link" /> -->
					</div>
				</p:panel>
			</p:dataGrid>

			<f:facet name="options">
				<p:menu>
					<p:submenu label="Settings">
						<p:menuitem value="Toggle" url="#" icon="ui-icon-newwin"
							onclick="educationPanel.toggle()" />
						<p:menuitem value="Edit" url="#" icon="ui-icon-wrench" />
					</p:submenu>
				</p:menu>
			</f:facet>
			<f:facet name="footer">
				<div align="right">
					<p:commandButton value="Add new" icon="ui-icon-plus"
						process="@this" onclick="PF('addDegreeDialog').show()" />
				</div>
			</f:facet>
		</p:panel>
	</h:form>

	<h:form id="addDegreeForm">
		<p:growl id="growl" showDetail="true" sticky="false" life="2000" />
		<p:dialog widgetVar="addDegreeDialog" header="New degree">
			<p:outputPanel id="addDegreePanel">
				<p:panelGrid columns="2">
					<h:outputLabel value="Obtention year" for="addObtYear" />
					<p:spinner value="#{studentProfile.newDegree.obtentionYear}"
						id="addObtYear" />
					<h:outputLabel value="Degree Title" for="addTit" />
					<p:inputText value="#{studentProfile.newDegree.title}" id="addTit" />
					<h:outputLabel value="University" for="addUniv" />
					<p:inputText value="#{studentProfile.newDegree.university}"
						id="addUniv" />
					<div></div>
					<p:commandButton value="Submit" icon="ui-icon-check"
						id="addDegreeSubmit" update="growl,:degreesForm:degreesGrid"
						oncomplete="PF('addDegreeDialog').hide();"
						actionListener="#{studentProfile.addNewDegree}">
					</p:commandButton>
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="educationForm">
		<p:dialog widgetVar="editDegreeDialog" header="Edit degree">
			<p:outputPanel id="editDegreePanel">
				<p:panelGrid columns="2">
					<h:outputLabel value="Obtention year" for="obtYear" />
					<p:spinner value="#{studentProfile.selectedDegree.obtentionYear}"
						id="obtYear" />
					<h:outputLabel value="Degree Title" for="tit" />
					<p:inputText value="#{studentProfile.selectedDegree.title}"
						id="tit" />
					<h:outputLabel value="University" for="univ" />
					<p:inputText value="#{studentProfile.selectedDegree.university}"
						id="univ" />
					<div></div>
					<p:commandButton value="Submit" icon="ui-icon-check" ajax="false"
						action="#{studentProfile.updateDegree()}" />
				</p:panelGrid>
			</p:outputPanel>
		</p:dialog>
	</h:form>

</ui:composition>