<ui:composition template="/templates/master.xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<ui:define name="windowTitle">
		<h:outputText value="#{studentProfileBean.user.email}" />
	</ui:define>

	<ui:define name="navBar">
		<ui:include src="/views/dashboard/student/nav-bar-dashboard.xhtml">
			<ui:param name="userfullname"
				value="#{studentProfile.user.firstname} #{studentProfile.user.lastname}" />
		</ui:include>
	</ui:define>
	<ui:define name="container">
		<div align="center"
			style="font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">
			<h1
				style="font-size:60px;font-weight:lighter;color: Maroon; font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">IT
				Recruitment Link</h1>
			<h4
				style="font-family: 'Century Gothic', CenturyGothic, Geneva, AppleGothic, sans-serif;">Student
				Dashboard</h4>
			<hr />
		</div>
			<div class="row" style="margin-left: 1px;">
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" align="center">
								<h:outputText
									value="#{studentProfile.user.firstname} #{studentProfile.user.lastname}" />
							</h3>
						</div>
						<div class="panel-body">
							<ui:include src="/views/dashboard/student/left-bar.xhtml" />
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title" align="center">
								<h:outputText value="#{studentProfile.user.title}" />
							</h3>
						</div>
						<div class="panel-body">
							<ui:include src="/views/dashboard/student/objective.xhtml" />
							<ui:include src="/views/dashboard/student/degrees.xhtml" />
							<ui:include src="/views/dashboard/student/internships.xhtml" />
						</div>
						<!-- panel body -->
					</div>
					<!-- panel -->
				</div>
				<!-- col -->
			</div>
			<!-- row -->

	</ui:define>
</ui:composition>
