<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panel id="internshipsPanel" header="Internships" toggleable="true"
		toggleSpeed="500" widgetVar="internshipsPanel"
		style="margin-top:35px;padding:0px;">
		<p:dataGrid widgetVar="internshipsGrid" id="internshipsGrid"
			var="intern" value="#{studentProfile.internships}" columns="1"
			style="padding:0px;width:50%;word-wrap: break-word;">
			<p:panel style="border:none;word-wrap: break-word;">
					from
					<h:outputText value="#{intern.startDate}"
					style="font-size:medium;color:green;" />
					to
					<h:outputText value="#{intern.endDate}"
					style="font-size:medium;color:green;" />
				<br />
				<h:outputText value="#{intern.postTitle}"
					style="font-size:20px; color:maroon" />
					at 
					<h:outputText value="   #{intern.entrepriseName}"
					style="font-size:14px;" />
				<br />
				<h:outputText value="#{intern.description}" style="font-size:14px;" />
				<br />
				<div align="right">
					<p:commandButton value="Edit" process="@this"
						update=":editInternship"
						oncomplete="PF('editInternshipDialog').show()">
						<f:setPropertyActionListener value="#{intern}"
							target="#{studentProfile.selectedInternship}" />
					</p:commandButton>
					<p:commandButton value="Delete" process="@this"
						update=":editInternship:growl,:internshipsPanel"
						action="#{studentProfile.deleteSelectedInternship}">
						<f:setPropertyActionListener value="#{intern}"
							target="#{studentProfile.selectedInternship}" />
						<p:confirm header="Confirmation" message="Are you sure?"
							icon="ui-icon-alert" />
					</p:commandButton>
					<!-- 											<h:commandButton value="Delete" styleClass="btn btn-link" /> -->
				</div>
			</p:panel>
		</p:dataGrid>

		<f:facet name="options">
			<p:menu>
				<p:submenu label="Settings">
					<p:menuitem value="Toggle" url="#" icon="ui-icon-newwin"
						onclick="internshipsPanel.toggle()" />
					<p:menuitem value="Edit" url="#" icon="ui-icon-wrench" />
				</p:submenu>
			</p:menu>
		</f:facet>
		<f:facet name="footer">
			<div align="right">
				<p:commandButton value="Add new" icon="ui-icon-plus" process="@this"
					onclick="PF('addInternshipDialog').show()" />
			</div>
		</f:facet>
	</p:panel>

	<h:form id="editInternship">
		<p:growl id="growl" showDetail="true" sticky="true" life="2000" />
		<p:dialog widgetVar="editInternshipDialog" header="Edit internship">
			<p:panelGrid columns="2">
				<h:outputLabel value="Start date" for="editInternshipStartDate" />
				<p:calendar value="#{studentProfile.selectedInternship.startDate}"
					required="true" label="text" pattern="dd/MM/yyyy"
					id="editInternshipStartDate">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:calendar>
				<h:outputLabel value="End date" for="editInternshipEndDate" />
				<p:calendar value="#{studentProfile.selectedInternship.endDate}"
					required="true" label="text" pattern="dd/MM/yyyy"
					id="editInternshipEndDate">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:calendar>
				<h:outputLabel value="Entreprise" for="editInternshipEntrepriseName" />
				<p:inputText
					value="#{studentProfile.selectedInternship.entrepriseName}"
					id="editInternshipEntrepriseName" />
				<h:outputLabel value="Post title" for="editInternshipPost" />
				<p:inputText value="#{studentProfile.selectedInternship.postTitle}"
					id="editInternshipPost" />
				<h:outputLabel value="Description" for="editInternshipDescription" />
				<p:inputTextarea
					value="#{studentProfile.selectedInternship.description}"
					id="editInternshipDescription" rows="11" cols="50" />
				<div></div>
				<p:commandButton value="Submit" icon="ui-icon-check"
					id="editInternshipSubmit"
					update="growl,:internshipsPanel"
					oncomplete="PF('editInternshipDialog').hide();"
					actionListener="#{studentProfile.editSeletectedInternship}">
				</p:commandButton>
			</p:panelGrid>
		</p:dialog>
	</h:form>
	<h:form id="addInternship">
		<p:growl id="growl" showDetail="true" sticky="true" life="2000" />
		<p:dialog widgetVar="addInternshipDialog" header="New Internship">
			<p:panelGrid columns="2">
				<h:outputLabel value="Start date" for="addInternshipStartDate" />
				<p:calendar value="#{studentProfile.newInternship.startDate}"
					required="true" label="text" pattern="dd/MM/yyyy"
					id="addInternshipStartDate">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:calendar>
				<h:outputLabel value="End date" for="addInternshipEndDate" />
				<p:calendar value="#{studentProfile.newInternship.endDate}"
					required="true" label="text" pattern="dd/MM/yyyy"
					id="addInternshipEndDate">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:calendar>
				<h:outputLabel value="Entreprise" for="addInternshipEntrepriseName" />
				<p:inputText value="#{studentProfile.newInternship.entrepriseName}"
					id="addInternshipEntrepriseName" />
				<h:outputLabel value="Post title" for="addInternshipPost" />
				<p:inputText value="#{studentProfile.newInternship.postTitle}"
					id="addInternshipPost" />
				<h:outputLabel value="Description" for="addInternshipDescription" />
				<p:inputTextarea value="#{studentProfile.newInternship.description}"
					id="addInternshipDescription" rows="11" cols="50" />
				<div></div>
				<p:commandButton value="Submit" icon="ui-icon-check"
					id="addInternshipSubmit"
					update="growl,:internshipsPanel"
					oncomplete="PF('addInternshipDialog').hide();"
					actionListener="#{studentProfile.addNewInternship}" />
			</p:panelGrid>
		</p:dialog>
	</h:form>

</ui:composition>