<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	
	<h:form id="profilePhotoForm">
		<p:growl id="growl" showDetail="true" sticky="false" life="2000" />
		<p:lightBox>
			<h:outputLink
				value="/tn.esprit.gl1.p3.pl/javax.faces.resource/upload/#{studentProfile.photo}.jsf?ln=image">
				<p:graphicImage library="image"
					name="upload/#{studentProfile.photo}"
					style="display:block;margin:auto;" width="250" height="250" />
			</h:outputLink>
		</p:lightBox>
		<div align="center">
			<p:commandButton value="Change picture"
				onclick="PF('changeProfilePhotoDialog').show()" icon="ui-icon-plus" />
			<p:commandButton value="Remove"
				action="#{studentProfile.removeProfilePicture}" icon="ui-icon-trash"
				update=":profilePhotoForm">
				<p:confirm message="Remove profile picture ?"
					header="Are you sure .." />
			</p:commandButton>
		</div>
		<p:dialog widgetVar="changeProfilePhotoDialog" modal="true"
			showEffect="fade" hideEffect="fade">
			<p:fileUpload
				fileUploadListener="#{studentProfile.handlePhotoUpload}"
				process="@this" mode="advanced"
				update=":profilePhotoForm:growl,:profilePhotoForm" auto="false"
				sizeLimit="1000000" fileLimit="1"
				fileLimitMessage="You can upload only one photo"
				allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
				oncomplete="PF('changeProfilePhotoDialog').hide()" />
		</p:dialog>
	</h:form>
	<h:form>
		<p:growl id="growl" showDetail="true" sticky="false" life="2000" />
		<p:panel header="Details" style="border:none; margin-top:10px;">
			<p:panelGrid columns="2" style="border:0px;">
				<h:outputText value="University: " />
				<p:inplace id="universityInplace" editor="true">
					<h:selectOneMenu value="#{studentProfile.user.university}">
						<f:selectItem itemLabel="ESPRIT" itemValue="ESPRIT" />
						<f:selectItem itemLabel="ENSI" itemValue="ENSI" />
						<f:selectItem itemLabel="ISI" itemValue="ISI" />
						<f:selectItem itemLabel="INSAT" itemValue="INSAT" />
					</h:selectOneMenu>
				</p:inplace>
				<h:outputText value="Born: " />
				<p:inplace id="bornInplace" editor="true">
					<p:calendar value="#{studentProfile.user.birthdate}"
						required="true" label="text" pattern="dd/MM/yyyy">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</p:calendar>
				</p:inplace>
				<h:outputText value="Email: " />
				<p:inplace id="emailInplace" editor="true">
					<p:inputText value="#{studentProfile.user.email}" required="true"
						label="text" />
				</p:inplace>
			</p:panelGrid>
		</p:panel>
		<p:panel header="Address" style="border:none; margin-top:10px;">
			<p:panelGrid columns="2" style="border:0px;">
				<h:outputText value="City: " />
				<p:inplace id="cityInplace" editor="true">
					<p:inputText value="#{studentProfile.user.address.city}"
						required="true" label="text" />
				</p:inplace>
				<h:outputText value="Country: " />
				<p:inplace id="countryInplace" editor="true">
					<p:inputText value="#{studentProfile.user.address.country}"
						required="true" label="text" />
				</p:inplace>
				<h:outputText value="Number: " />
				<p:inplace id="numberInplace" editor="true">
					<p:inputText value="#{studentProfile.user.address.number}"
						required="true" label="text" />
				</p:inplace>
				<h:outputText value="Phone: " />
				<p:inplace id="phoneInplace" editor="true">
					<p:inputText value="#{studentProfile.user.address.phoneNumber}"
						required="true" label="text" />
				</p:inplace>
				<h:outputText value="Street: " />
				<p:inplace id="streetInplace" editor="true">
					<p:inputText value="#{studentProfile.user.address.street}"
						required="true" label="text" />
				</p:inplace>
				<h:outputText value="Zip code: " />
				<p:inplace id="zipCodeInplace" editor="true">
					<p:inputText value="#{studentProfile.user.address.zipCode}"
						required="true" label="text" />
				</p:inplace>
			</p:panelGrid>
			<p:commandButton value="Save changes" icon="ui-icon-check"
				style="display:block;margin:auto;"
				actionListener="#{studentProfile.saveProfileChanges}" update="growl" />
		</p:panel>
	</h:form>

</ui:composition>