<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panel id="objPanel" header="Objective" toggleable="true"
		toggleSpeed="500" closeSpeed="500" widgetVar="objectivePanel">
		<h:outputText value="#{studentProfile.user.CV.objective}"/>
		<f:facet name="options">
			<p:menu>
				<p:submenu label="Settings">
					<p:menuitem value="Toggle" url="#" icon="ui-icon-newwin"
						onclick="objectivePanel.toggle()" />
					<p:menuitem value="Edit" url="#" icon="ui-icon-wrench" />
				</p:submenu>
			</p:menu>
		</f:facet>
		<f:facet name="footer">
			<div align="right">
				<p:commandButton value="Delete"
					action="#{studentProfile.deleteObjective}"
					update=":objPanel,:editObjectiveForm:growl" icon="ui-icon-trash">
					<p:confirm header="Delete objective" message="Are you sure ??" />
				</p:commandButton>
				<p:commandButton value="Edit/New"
					onclick="PF('editObjectiveDialog').show()" icon="ui-icon-wrench" />
			</div>
		</f:facet>
	</p:panel>

	<h:form id="editObjectiveForm">
		<p:growl id="growl" showDetail="true" sticky="false" life="2000"/>
		<p:dialog widgetVar="editObjectiveDialog" header="Edit/New Objective">
			<p:panelGrid columns="2">
				<h:outputLabel value="Objective" for="editObjective" />
				<p:inputTextarea rows="10" cols="50"
					value="#{studentProfile.user.CV.objective}" id="editObjective" />
				<div></div>
				<p:commandButton value="Update" icon="ui-icon-check"
					id="editObjectiveSubmit" update="growl,:objPanel"
					oncomplete="PF('editObjectiveDialog').hide();"
					actionListener="#{studentProfile.editObjective}">
				</p:commandButton>
			</p:panelGrid>
		</p:dialog>
	</h:form>

</ui:composition>